h3{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:60PX;
    text-align: center;
    word-spacing: 7px;
    margin-top: -2%;
    margin-left:-6%;
}
.navbar {
    background:rgb(194, 188, 188);
    height:20%;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .features{
    padding: 6em;
    position: relative;
  }
  .container1{
    border: groove rgb(194, 188, 188);
    width: 50%;
    height: fit-content;
    text-align: center;
  }