.navbar {
    background:rgb(194, 188, 188);
    height:20%;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  h3{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:60PX;
    text-align: center;
    word-spacing: 7px;
    margin-top: -2%;
    margin-left:-6%;
}
.features{
  padding: 1em;
  position: relative;
}
.feature-title{
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features .form-control, .features input{
  border-radius: 0;
}
.features .btn{
  background-color: #949b91;
  color: rgba(0,0,0,0.6);
  border: 1px solid #949b91;
  margin-top: 20px;
}
.features .btn:hover{
  background-color: #333;
  border: 1px solid #333;
}


